<!DOCTYPE html>
<html>
<head>
  <title>Welcome to my Sinatra App!</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta name="keywords" content="sinatra tester application contact">
  <meta name="description" content="A page to learn Sinatra with Ruby">
</head>  
<body>
  <a href="/">Home</a>
  |
  <a href="/contact">Contact Us</a>
  <hr>
  <%= yield %>
</body>
</html>